

.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px dotted blue;
    background: #ddebf8;
    border-bottom: 5px solid purple;

}
.charlie-pic {
    width: 200px;
    border-radius:40px;
    border:1px solid black ;
}
.info {
    margin: 20px;
    font-style: italic;
    color: #2b2839;
}
h2:hover{
    background-color:yellow;
    text-shadow:2px 2px;
}